/*header*/
BODY {
    background: white; /* Цвет фона веб-страницы */
    border-left: 2px solid #ccc; /* Параметры линии */
    margin-left: 10%; /* Отступ слева */
    padding-left: 5%; /* Расстояние от линии до текста */
}

.menu{
    display: flex;
    height: 100px;
    flex-wrap: nowrap;
    order: 1;
    position: relative;
    background: dimgrey;
    list-style-type: none;
    text-decoration: none;
}

.menu A {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.menu A:visited{
    color: white; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.menu A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

.menu2 {
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    border: 1px solid grey;margin: 0;
    width: 120px;
}

.menu2 A {
    color: dimgrey; /* Цвет ссылок */
    text-decoration: none;
}

.menu2 A:visited{
    color: black; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.menu2 A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

.m1{
    margin: auto;
    text-decoration: white;
}

.m2{
    margin-right:50%;
    margin-top: 30%;
}

.m3{
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}


.text{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30%;
    margin-right: 7%;
}

.logo{
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-width: 2px 2px;
    border-style: groove;
    width: 60%;

}

.menu2 ul{
    display: table; width: 100%display: table; width: 100%
}

.menu li {
    display: table-cell; float: none;
}

.footer{
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
    position: relative;
    background: lightgray;
    list-style-type: none;
    text-decoration: none;
}

.footer A {
    color: black; /* Цвет ссылок */
    text-decoration: none;
}

.footer A:visited{
    color: black; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.footer A:active{
    color: black; /* Цвет активных ссылок */
    text-decoration: none;
}

