/*header*/
BODY {
    background: white; /* Цвет фона веб-страницы */
    border-left: 2px solid #ccc; /* Параметры линии */
    margin-left: 10%; /* Отступ слева */
    padding-left: 5%; /* Расстояние от линии до текста */
}

.menu{
    display: flex;
    height: 100px;
    flex-wrap: nowrap;
    order: 1;
    position: relative;
    background: dimgrey;
    list-style-type: none;
    text-decoration: none;
}

.menu A {
    color: white; /* Цвет ссылок */
    text-decoration: none;
}

.menu A:visited{
    color: white; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.menu A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

.menu2 {
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    border: 1px solid grey;
}

.menu2 A {
    color: dimgrey; /* Цвет ссылок */
    text-decoration: none;
}

.menu2 A:visited{
    color: black; /* Цвет посещенных ссылок */
    text-decoration: none;
}

.menu2 A:active{
    color: white; /* Цвет активных ссылок */
    text-decoration: none;
}

.m1{
    margin: auto;
    text-decoration: white;
}

.m2{
    margin-right:50%;
    margin-top: 30%;
}


.text{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30%;
    margin-right: 7%;
}


.logobox{width: auto;
    border-width: 2px 2px;
    border-style: groove;

}

.logo{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;

}